@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/* .jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

html {
    background-color: var(--ctp-mocha-mantle);
}

body {
    color: var(--ctp-mocha-text);
    font-family: "JetBrain Mono", monospace;
    font-optical-sizing: auto;
}

#canvas {

    background-image:
        radial-gradient(var(--ctp-mocha-surface2) 15%, transparent 16%);
    background-size: 10px 10px;

    display: grid;
    place-content: center;

    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0.3) 80%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0.3) 80%);

    grid-template-columns: repeat(auto-fit, minmax(0px, 150px));

    grid-auto-rows: minmax(100px, auto);

    gap: 15px;

    width: 100%;
    height: 100%;

    min-height: 100vh;
    padding: 20px;

    box-sizing: border-box;
}

.breakout {
    grid-column: 1 / -1;
}

.node {
    background-color: var(--ctp-mocha-crust);
    border: 1px solid var(--ctp-mocha-lavender);
    border-radius: 50%;

    min-width: 0;
    width: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;

    color: var(--ctp-mocha-text);
    text-decoration: none;

    padding: 10px;
    text-align: center;
    word-break: normal;
    hyphens: auto;
    overflow-wrap: anywhere;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    transition: transform 0.2s ease;

    will-change: transform;

    overflow: hidden;

}

.node:hover {
    transform: scale(.98) translateY(5px);
}

.node:active {
    transform: scale(.95) translateY(10px);
}