@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #181825;
    padding: 0;

    font-size: clam(14px, 2vw, 18px);

    height: 100%;
    min-height: 100vh;

}

html {
    scroll-behavior: smooth;
    height: 100%;
}

@media (max-width: 600px) {
    .box {
        padding: 12px;
    }

    code {
        font-size: 0.9em;
    }
}

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#footer {
    width: min(600px, calc(100% - 20px));
    margin: 0 auto 20px auto;

    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: clamp(10px, 2.5vw, 16px);
}

.box {
    background-color: #1e1e2e;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 5px;
    /*margin-top: 10px;
    margin-bottom: 10px; 

    margin-right: 15px;
    margin-left: 15px; */

    margin: 10px 15px auto;
    width: calc(100%-20px);


    box-sizing: border-box;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 5px;

    overflow-wrap:  normal;

}

.box p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;

}

p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
}

pre {
    color: #89b4fa;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

h1 {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

.box::before {
    content: attr(numb);

    position: absolute;
    top: 21px;
    left: 10px;

    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
    width: 24px;
    text-align: right;

    flex-shrink: 0;
}

.box[numb]:not([numb="none"]) {
    padding-left:50px;
}

.box[numb="none"]::before {
    content: "";
    display: none;
}

.box .codebox:last-child {
    margin-bottom: 20px;
}

.box code:last-child {
    margin-bottom: 20px;
}

.box code:first-child {
    margin-top: 2px;
    margin-bottom: 2px;
}

strong {
    color: #cba6f7;
}

i {
    color: #89b4fa;
}

a {
    color: #b4befe;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

hr {
    display: block;
    margin-left: 1px;
    margin-right: 1px;

    margin-top: 35px;
    margin-bottom: 35px;

    opacity: 1;
    border: 2px dashed #6c7086;
}

.codebox {
    background-color: #11111b;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
}

.codebox p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
}

code {
    cursor: pointer;
    transition: .1s;
    background-color: #11111b;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 10px 15px;
    display: inline-block;

    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;

    display: inline-block;
    
    margin-top: 2px;
    margin-bottom: 2px;



}

code.copied {
    transform: scale(.95);
    opacity: 0.7;
}

code:hover {
    background-color: #313244;
    border: 2px dashed #a6adc8;
    animation: marching-ants 0.5s linear infinite
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid #a6adc8;

    background-color: #11111b;
    color: #cdd6f4;

    padding: 10px 14px;
    border-radius: 10px;

    font-family: "JetBrains Mono", monospace;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.2s;

}

.popup.show {
    opacity: 1;
}
