@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #181825;
}

html {
    scroll-behavior: smooth;
}

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.box {
    background-color: #1e1e2e;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 5px;
    padding-left:8%;
    margin-top: 10px;
    margin-bottom: 10px;

    margin-right: 15px;
    margin-left: 15px;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 5px;

    overflow-wrap:  normal;

}

.box p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;

}

p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
}

pre {
    color: #89b4fa;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

h1 {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

.box::before {
    content: attr(numb);

    position: absolute;
    top: 21px;
    left: 10px;

    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
    width: 24px;
    text-align: right;

    flex-shrink: 0;
}

.box .codebox:last-child {
    margin-bottom: 20px;
}

.box code:last-child {
    margin-bottom: 20px;
}

.box code:first-child {
    margin-top: 2px;
    margin-bottom: 2px;
}

strong {
    color: #cba6f7;
}

i {
    color: #89b4fa;
}

a {
    color: #b4befe;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

hr {
    display: block;
    margin-left: 1px;
    margin-right: 1px;

    margin-top: 35px;
    margin-bottom: 35px;

    opacity: 1;
    border: 2px dashed #6c7086;
}

.codebox {
    background-color: #11111b;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
}

.codebox p {
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
}

code {
    background-color: #11111b;
    border: 2px solid #a6adc8;
    border-radius: 15px;
    padding: 10px 15px;
    display: inline-block;

    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;

}
